<div class="container-fluid placetoibien">
  <div class="row d-flex justify-content-around">
    <div class="container col-12 col-sm-4 col-md-4 col-lg-4 mt-2 d-flex justify-content-center">
      <label for="switch" class="button" routerLink="/pageQuestion" id="easy" onclick="p()"><a>Easy</a></label>
    </div>
    <div class="container col-12 col-sm-4 col-md-4 col-lg-4 mt-2 d-flex justify-content-center">
      <label for="switch" class="button" routerLink="/pageQuestion" id="medium" onclick="p()"><a>Medium</a></label>
    </div>
    <div class="container col-12 col-sm-4 col-md-4 col-lg-4 mt-2 d-flex justify-content-center">
      <label for="switch" class="button" routerLink="/pageQuestion" id="hard" onclick="p()"><a>Hard</a></label>
    </div>
  </div>
</div>

