<div class="container-fluid placetoibien">
  <div class="row d-flex justify-content-around">
    <div class="container col-4 col-sm-4 col-md-4 col-lg-4 d-flex justify-content-center">
      <a href="#" class="btn tailleDiv btn-primary btn-lg active" role="button" aria-pressed="true">Easy</a>
    </div>
    <div class="container col-4 col-sm-4 col-md-4 col-lg-4 d-flex justify-content-center">
        <a href="#" class="btn tailleDiv btn-primary btn-lg active" role="button" aria-pressed="true">Medium</a>
    </div>
    <div class="container col-4 col-sm-4 col-md-4 col-lg-4 d-flex justify-content-center">
        <a href="#" class="btn tailleDiv btn-primary btn-lg active" role="button" aria-pressed="true">Hard</a>
    </div>
  </div>
</div>
  <div class="container">
    <div class="row p-m-quiz-row">
      <div class="container col-lg-6 col-md-6 col-6 p-m-quiz-container d-flex justify-content-center">
        <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Solar system</a>
      </div>
      <div class="container col-lg-6 col-md-6 col-6 p-m-quiz-container d-flex justify-content-center">
          <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Constellations</a>
      </div>
      <div class="container col-lg-6 col-md-6 col-6 p-m-quiz-container d-flex justify-content-center">
          <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Big Bang</a>
      </div>
      <div class="container col-lg-6 col-md-6 col-6 p-m-quiz-container d-flex justify-content-center">
          <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Astéroid</a>
      </div>
      <div class="container col-lg-6 col-md-6 col-6 p-m-quiz-container d-flex justify-content-center">
        <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Black Hole</a>
      </div>
      <div class="container col-lg-6 col-md-6 col-6 p-m-quiz-container d-flex justify-content-center">
        <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Exoplanets</a>
      </div>
    </div>
  </div>




