<div class="container">
  <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Easy</a>
</div>
<div class="container">
    <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Medium</a>
</div>
<div class="container">
    <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Hard</a>
</div>
<div class="container">
    <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Medium</a>
</div>
<div class="container">
    <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Medium</a>
</div>
<div class="container">
    <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Medium</a>
</div>
<div class="container">
    <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Medium</a>
</div>



