<div class="container-fluid" id="containerHeader">
  <div class="row icone d-flex justify-content-center">


    <div class="title">
      <div class="">
        <p>Do</p>
        <p>You</p>
        <p>Know</p>
        <p>Space</p>
        <p class="logo"><a routerLink="landing"><img src="assets/logo70.png" alt="logo" class="img-fluid icone" onclick="p()"></a></p>
      </div>
      
    </div>
    <p class="logoSm"><a routerLink="landing"><img src="assets/logo70.png" alt="logo" class="icone" onclick="p()"></a></p>
  </div>
</div>

<!-------------------------------------------TEST--------------------------------------------------------->