h1{
    color: white;
    font-size: 3em;
    font-weight: bold;
}

a:hover{
    text-decoration: none;
    color: white;
}
@media all and (max-width: 640px){
    .icone {
        
        height: 50%;
        text-align: center;
        padding: 0;
        margin-bottom: -10%;
    }
}
@media all and (min-width: 768px) and (max-width: 1024px){
    .icone{
        margin-bottom: 25%;
    }
}