<div class="container-fluid" id="containerHeader">
  <div class="row icone d-flex justify-content-center">


    <div class="col-lg-10 col-md-10 d-none d-md-block d-lg-block">
      <div class="title">
        <p>Do</p>
        <p>You</p>
        <p>Know</p>
        <p>Space</p>
        <p class="logo"><a routerLink="landing"><img src="assets/logo70.png" alt="logo" class="img-fluid icone" onclick="p()"></a></p>
      </div>
    </div>
    <!-- <div class="col-lg-2 col-md-2 col-sm-6 logo bg-danger">
      <p class=""><a routerLink="landing"><img src="assets/logo70.png" alt="logo" class="img-fluid icone" onclick="p()"></a></p>
    </div> -->
  </div>
</div>

<!-------------------------------------------TEST--------------------------------------------------------->