<div class="container-fluid" id="containerFooter">
  <div class="row">
      <div class="col-lg-1 col-md-1 d-none d-md-block d-lg-block"></div>
    <div class="col-6 col-lg-2 col-md-2">
      <a class="textFooter" routerLink="cgu">CGU</a>
    </div>
    <div class="col-6 col-lg-2 col-md-2">
      <a class="textFooter" routerLink="legalMentions">Who are we ?</a>
    </div>
    <div class="col-6 col-lg-2 col-md-2">
      <a class="textFooter" routerLink="contact">Contact us</a>
    </div>
    <div class="col-lg-2 col-md-2 d-none d-md-block d-lg-block"></div>
    <div class="col-6 col-lg-2 col-md-2 d-flex justify-content-around logos">
        <a class="fa fa-facebook" href="#" id="logoFacebook"></a>
        <a class="fa fa-twitter" href="#" id="logoTwitter"></a>
        <a class="fa fa-linkedin" href="#" id="logoLinkedin"></a>
        <a class="fa fa-google-plus" href="#" id="logoGoogle"></a>
    </div>
    <div class="col-lg-1 col-md-1 d-none d-md-block d-lg-block"></div>
  </div>
</div>