<div id="theme">
  <div class="container-fluid">
    <div class="row d-flex justify-content-around">
      <div class="container col-12 col-sm-4 col-md-4 col-lg-4 mt-2 d-flex justify-content-center">
        <label appQuiz for="switch" id="test" class="button" routerLink="/accueilDoc"  onclick="p();"><a>Solar system</a></label>
      </div>
      <div class="container col-12 col-sm-4 col-md-4 col-lg-4 mt-2 d-flex justify-content-center">
        <label for="switch" class="button" routerLink="/constellationsDoc" onclick="p();"><a>Constellations</a></label>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row d-flex justify-content-around">
     
      <div class="container col-12 col-sm-4 col-md-4 col-lg-4 mt-2 d-flex justify-content-center">
        <label for="switch" class="button" routerLink="/asteroidsDoc" onclick="p();"><a>Asteroid</a></label>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row d-flex justify-content-around">
     
      <div class="container col-12 col-sm-4 col-md-4 col-lg-4 mt-2 d-flex justify-content-center">
        <label for="switch" class="button" routerLink="/exoplanetsDoc" onclick="p();"><a>Exoplanets</a></label>
      </div>
    </div>
  </div>
</div>