<div class="container-fluid theme d-flex justify-content-center">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-6 mt-2 col-lg-6 d-flex justify-content-center">
      <label for="switch" id="test" class="button" routerLink="/accueilDoc" onclick="p();"><a>Solar system</a></label>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 mt-2 d-flex justify-content-center">
      <label for="switch" class="button" routerLink="/constellationsDoc" onclick="p();"><a>Constellations</a></label>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 mt-2 d-flex justify-content-center">
      <label for="switch" class="button" routerLink="/asteroidsDoc" onclick="p();"><a>Asteroids</a></label>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 mt-2 d-flex justify-content-center">
      <label for="switch" class="button" routerLink="/exoplanetsDoc" onclick="p();">Exoplanets</label>
    </div>
  </div>
</div>