<div class="container-fluid">
  <div class="row d-flex justify-content-around">
    <div class="col-6">
      <label for="switch" class="button" routerLink="/highScore" onclick="p()"><a>Solar system</a></label>
    </div>
    <div class="col-6">
      <label for="switch" class="button" routerLink="/highScore" onclick="p()"><a>Constellations</a></label>
    </div>
    <div class="col-6">
      <label for="switch" class="button" routerLink="/highScore" onclick="p()"><a>Big Bang</a></label>
    </div>
    <div class="col-6">
      <label for="switch" class="button" routerLink="/highScore" onclick="p()"><a>Asteroid</a></label>
    </div>
    <div class="col-6">
      <label for="switch" class="button" routerLink="/highScore" onclick="p()"><a>Black hole</a></label>
    </div>
    <div class="col-6">
      <label for="switch" class="button" routerLink="/highScore" onclick="p()"><a>Exoplanets</a></label>
    </div>
  </div>
</div>
 