<div class="container-fluid" id="containerLanding">
  <div class="row d-flex justify-content-around">
    <div class="col-lg-2 col-md-2 d-none d-md-block d-lg-block"></div>
    <div class="col-8 col-sm-8 col-md-3 col-lg-3 d-flex justify-content-center">
      <label for="switch" class="button" routerLink="/accueilDoc" onclick="p()"><a>Documentation</a></label>
    </div>
    <div class="col-lg-2 col-md-2 d-none d-md-block d-lg-block"></div>
    <div class="col-8 col-sm-8 col-md-3 col-lg-3 d-flex justify-content-center">
      <label for="switch" class="button" routerLink="/menuQuiz" onclick="p()"><a>Quiz</a></label>
    </div>
    <div class="col-lg-2 col-md-2 d-none d-md-block d-lg-block"></div>
  </div>
</div>