<h2>Who are we ?</h2>

<div class="container-fluid">
  <div class="row justify-content-around">
      <div class="card col-lg-3 col-md-3 col-sm-10" style="width: 18rem;">
          <img class="card-img-top" src="assets/soizic.png" alt="Soizic Lambert">
          <div class="card-body">
            <h5 class="card-title">Soizic Lambert</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="https://www.linkedin.com/in/soizic-lambert/" class="btn btn-primary fa fa-linkedin"></a>
          </div>
      </div>
      <div class="card col-lg-3 col-md-3 col-sm-10" style="width: 18rem;">
          <img class="card-img-top" src="assets/sylvain.png" alt="Sylvain Le Moal">
          <div class="card-body">
            <h5 class="card-title">Sylvain Le Moal</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="https://www.linkedin.com/in/sylvain-le-moal22/" class="btn btn-primary fa fa-linkedin"></a>
          </div>
      </div>
      <div class="card col-lg-3 col-md-3 col-sm-10" style="width: 18rem;">
          <img class="card-img-top" src="assets/thomas.png" alt="Thomas Gonzalez">
          <div class="card-body">
            <h5 class="card-title">Thomas Gonzalez</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="https://www.linkedin.com/in/thomas-gonzalez-dev/" class="btn btn-primary fa fa-linkedin"></a>
          </div>
      </div>


  </div>
</div>
