<h2>Who are we ?</h2>

<div class="container-fluid">
  <div class="row justify-content-around">
    <div class="card col-lg-3 col-md-3 col-sm-10" style="width: 18rem;">
      <img class="card-img-top" src="assets/soizic.png" alt="Soizic Lambert">
      <div class="card-body">
        <h5 class="card-title">Soizic Lambert</h5>
        <p class="card-text">Après une expérience significative dans le domaine de la formation professionnelle,
          j'ai souhaité acquérir de nouvelles compétences en me tournant vers le développement web et mobile qui
          représente un véritable enjeu au sein du marché actuel.</p>

      </div>
      <div class="d-flex justify-content-center">
        <a href="https://www.linkedin.com/in/soizic-lambert/" target="_blank" class="btn btn-primary fa fa-linkedin"></a>
      </div>
    </div>
    <div class="card col-lg-3 col-md-3 col-sm-10" style="width: 18rem;">
      <img class="card-img-top" src="assets/sylvain.png" alt="Sylvain Le Moal">
      <div class="card-body">
        <h5 class="card-title">Sylvain Le Moal</h5>
        <p class="card-text">Nouveau venu dans le secteur du développement web afin d'apprendre de nouvelles
          compétences. J'ai toujours
          été passionné par l'informatique et j'ai découvert le développement lors d'un de mes voyages via des amis
          travaillant
          dans ce domaine.</p>

      </div>
      <div class="d-flex justify-content-center">
        <a href="https://www.linkedin.com/in/sylvain-le-moal22/" target="_blank" class="btn btn-primary fa fa-linkedin"></a>
      </div>
    </div>
    <div class="card col-lg-3 col-md-3 col-sm-10" style="width: 18rem;">
      <img class="card-img-top" src="assets/thomas.png" alt="Thomas Gonzalez">
      <div class="card-body">
        <h5 class="card-title">Thomas Gonzalez</h5>
        <p class="card-text">Anciennement vendeur dans une boutique bio à Paris, j'ai décidé de quitter mon travail et
          de
          commencer une formation pour devenir développeur web afin de laisser libre court à mes envies créatives et ma
          soif de challenge.</p>

      </div>
      <div class="d-flex justify-content-center">
        <a href="https://www.linkedin.com/in/thomas-gonzalez-dev/" target="_blank" class="btn btn-primary fa fa-linkedin"></a>
      </div>
    </div>
  </div>
</div>