<h2>Who are we ?</h2>

<div class="container-fluid">
  <div class="row justify-content-around">
    <div class="card col-lg-3 col-md-3 col-sm-10" style="width: 18rem;">
      <img class="card-img-top" src="assets/soizic.png" alt="Soizic Lambert">
      <div class="card-body">
        <h5 class="card-title">Soizic Lambert</h5>
        <p class="card-text">
          After a significant experience in the field of vocational training, I wanted to learn new skills by turning to the web and mobile development that
          represents a real challenge in the current market..</p>

      </div>
      <div class="d-flex justify-content-center">
        <a href="https://www.linkedin.com/in/soizic-lambert/" target="_blank" class="btn btn-primary fa fa-linkedin"></a>
      </div>
    </div>
    <div class="card col-lg-3 col-md-3 col-sm-10" style="width: 18rem;">
      <img class="card-img-top" src="assets/sylvain.png" alt="Sylvain Le Moal">
      <div class="card-body">
        <h5 class="card-title">Sylvain Le Moal</h5>
        <p class="card-text">Newcomer to the web development sector to learn new skills. I have always been passionate about computers and
          I discovered development during one of my trips through friends working in this field.</p>

      </div>
      <div class="d-flex justify-content-center">
        <a href="https://www.linkedin.com/in/sylvain-le-moal22/" target="_blank" class="btn btn-primary fa fa-linkedin"></a>
      </div>
    </div>
    <div class="card col-lg-3 col-md-3 col-sm-10" style="width: 18rem;">
      <img class="card-img-top" src="assets/thomas.png" alt="Thomas Gonzalez">
      <div class="card-body">
        <h5 class="card-title">Thomas Gonzalez</h5>
        <p class="card-text">Formerly salesman in an organic shop in Paris, I decided to leave my work and
          of start training to become a web developer to give free rein to my creative desires and my thirst for challenge.</p>

      </div>
      <div class="d-flex justify-content-center">
        <a href="https://www.linkedin.com/in/thomas-gonzalez-dev/" target="_blank" class="btn btn-primary fa fa-linkedin"></a>
      </div>
    </div>
  </div>
</div>