p, h2, h3{
    color: white;
    text-align: justify;
}

h2, h3{
    font-weight: bold;
    font-family: "CRYSIS Bold";
}

p{
    font-family: 'Courier New', Courier, monospace;
}

h2{
    font-size: 3em;
    font-weight: bolder;
}

#CGUbox{
    margin: 5%;
    padding: 2%;
    background-color: black;
    border-radius: 10px;

}

