* {
    background:url("sun.jpg") no-repeat;
    background-size: cover;
}



#logo-accueil-doc {
    color: white;
    padding-left: 5%;
    font-size: 1.5em;
}

#titre-accueil-doc {
    color: white;
    font-size: 1.5em;
    text-align: right;
    padding-right: 5%;
}

/*  */

#sommaire-doc {
    justify-content: space-between;
    padding: 5%;
}

h3 {
    color:white;
}

#exoplanets {

}
.bordure{
    padding-right: 6%;
}