
#logo-accueil-doc {
    color: black;
    padding-left: 5%;
    font-size: 1.5em;
}

#titre-accueil-doc {
    
    color: white;
    font-size: 1.5em;
    text-align: right;
    padding-right: 5%;
}

/*  */

#sommaire-doc {
    justify-content: space-between;
    padding: 5%;
}

.btn {
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    border-color: rgba(0, 0, 0, 1);
    padding: 10%;
}

.btn:hover{
    background-image: url("comet.jpg");
    background-size: cover;
}

#list{
    width: 56%;
}
@media all and (max-width: 560px){
    .col-12{
        text-align: center;
    }
}