
.input{
    width: 100%;
    text-align: center;
}


.rounded-circle{
  color: white;
  font-size: 2em;
  background-color: rgba(0,0,0,0.7);
  width: 5em;
  height: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid rgba(29, 243, 40, 0.788);
}

#question{
  background-color: rgba(0,0,0,0.7);
  border-radius: 10px;
  border: solid 0.5px rgba(234, 248, 106, 0.589);
  margin: 3%;
}

#question p{
  text-align: center;
}


/*-----------------------------------------------------TEST-----------------------------------------------------------------*/

.stretch, .button:after, .button:before {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }    
  .button {
    width: 70%;
    text-align: center;
    background: black;
    background-size: 100%;
    background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #34B5A9), color-stop(100%, #34B5A9));
    background-image: -moz-linear-gradient(left, #0D1A2B, black);
    background-image: -webkit-linear-gradient(left, #0D1A2B, black);
    background-image: linear-gradient(to right, #0D1A2B, black);
    -moz-border-radius: 1.5em;
    -webkit-border-radius: 1.5em;
    border-radius: 1.5em;
    -moz-transition: opacity 300ms;
    -o-transition: opacity 300ms;
    -webkit-transition: opacity 300ms;
    transition: opacity 300ms;
    border: none;
    padding: 20px;
    color: white;
    font-weight: bold;
    letter-spacing: 0.05em;
    outline: none;
    overflow: hidden;
    cursor: pointer;
    z-index: 99;
    margin: 3%;
  }
  .button:after {
    -moz-box-shadow: rgba(111, 233, 74, 0.75) 0 0 15px 2px;
    -webkit-box-shadow: rgba(111, 233, 74, 0.75) 0 0 15px 2px;
    box-shadow: rgba(111, 233, 74, 0.75) 0 0 15px 2px;
    background: rgba(29, 243, 40, 0.788);
    content: "";
    height: 2px;
    opacity: 0;
  }
  .button:before {
    content: "";
    opacity: 0;
  }
  .button:hover {
    -webkit-animation: glitch 750ms infinite;
  }
  .button:hover:before {
    opacity: 1;
  }
  .button:hover:after {
    -webkit-animation: scan 2s infinite;
    opacity: 1;
  }
  
  @-webkit-keyframes glitch {
    0% {
      -moz-transform: skewX(0deg);
      -ms-transform: skewX(0deg);
      -webkit-transform: skewX(0deg);
      transform: skewX(0deg);
    }
    5% {
      -moz-transform: skewX(2deg);
      -ms-transform: skewX(2deg);
      -webkit-transform: skewX(2deg);
      transform: skewX(2deg);
      opacity: 0.75;
    }
    10% {
      -moz-transform: skewX(0deg);
      -ms-transform: skewX(0deg);
      -webkit-transform: skewX(0deg);
      transform: skewX(0deg);
      opacity: 1;
    }
    15% {
      -moz-transform: skewX(-5deg);
      -ms-transform: skewX(-5deg);
      -webkit-transform: skewX(-5deg);
      transform: skewX(-5deg);
      opacity: 0.75;
    }
    20% {
      -moz-transform: skewX(0deg);
      -ms-transform: skewX(0deg);
      -webkit-transform: skewX(0deg);
      transform: skewX(0deg);
      opacity: 1;
    }
    45% {
      -moz-transform: skewX(3deg);
      -ms-transform: skewX(3deg);
      -webkit-transform: skewX(3deg);
      transform: skewX(3deg);
      opacity: 0.75;
    }
    50% {
      -moz-transform: skewX(0deg);
      -ms-transform: skewX(0deg);
      -webkit-transform: skewX(0deg);
      transform: skewX(0deg);
      opacity: 1;
    }
    55% {
      -moz-transform: skewX(0deg);
      -ms-transform: skewX(0deg);
      -webkit-transform: skewX(0deg);
      transform: skewX(0deg);
      opacity: 0.75;
    }
    60% {
      -moz-transform: skewX(0deg);
      -ms-transform: skewX(0deg);
      -webkit-transform: skewX(0deg);
      transform: skewX(0deg);
      opacity: 1;
    }
    75% {
      -moz-transform: skewX(2deg);
      -ms-transform: skewX(2deg);
      -webkit-transform: skewX(2deg);
      transform: skewX(2deg);
    }
    80% {
      -moz-transform: skewX(0deg);
      -ms-transform: skewX(0deg);
      -webkit-transform: skewX(0deg);
      transform: skewX(0deg);
    }
    85% {
      -moz-transform: skewX(-8deg);
      -ms-transform: skewX(-8deg);
      -webkit-transform: skewX(-8deg);
      transform: skewX(-8deg);
      opacity: 0.75;
    }
    90% {
      -moz-transform: skewX(0deg);
      -ms-transform: skewX(0deg);
      -webkit-transform: skewX(0deg);
      transform: skewX(0deg);
      opacity: 1;
    }
    100% {
      -moz-transform: skewX(0deg);
      -ms-transform: skewX(0deg);
      -webkit-transform: skewX(0deg);
      transform: skewX(0deg);
    }
  }
  @-webkit-keyframes scan {
    0% {
      top: 0%;
    }
    50% {
      top: 97%;
    }
    100% {
      top: 0%;
    }
  }
  
  a:link, a:visited
  {
      color: white;
      text-decoration: none;
  }
.flex { 
  display:flex;
  
}

.field {
  max-width: 100%;
  min-height: 30px;
  margin: 1%;
  font-size: 1.5em;
   color: white;
}
.field1{
  padding: 2%;
   color: white;
   font-size: 2em;
   
}

.button1 {
  height: 40px;
  width: 60%;
  outline: none;
  background: white;
  font-size: 1.5em;
}

.button1:active {
  background: rgb(54, 199, 85);
}
.hidden {
  position: absolute;
  top: 40%;

  
}
.boutonClick{
  display: none;
  
}
@media all and (max-width: 540px){
  .boutonclick{
    display: none;
  }
  .hidden{
    
    text-align: center;
  }
  .modetel{
    width:100%;
    margin-top: -30%;
  }
  .flex{
    display: initial;
  }
  .field{
  padding: 2%;
  font-size: 1em;
  }
  .field1{
    font-size: 1em;
  }
  .button1{
    font-size: 1em;
  }
}

