form{
    font-size: 2rem;
}
.form-group{
    
}
.form-bottom{
    margin-bottom: 10%;
}

.label{
    color: white;
}

.container{
    background-color: rgba(0,0,0,0.7);
    width: 60%;
    border-radius: 10px;
    border: solid 0.5px rgba(234, 248, 106, 0.589);
    padding-top: 5%;
}

.btn{
    margin-bottom: 15%;
}


