/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family:"CRYSIS Bold";
    src:url("assets/CRYSISB.eot?") format("eot"),
    url("assets/CRYSISB.woff") format("woff"),
    url("assets/CRYSISB.ttf") format("truetype"),
    url("assets/CRYSISB.svg#CRYSIS-Bold") format("svg");
    font-weight:normal;font-style:normal;
}


* {
    font-family: "CRYSIS Bold";
    font-size: 1em;
}

html{
    height: 100%;
}


body{
    min-height: 100%;
    margin: 0;
    padding: 0;
    padding-top: 1%;
    position: relative;
    background-image: url('assets/earth2.jpg');
    background-size: cover;
    padding-bottom: 6em;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@media all and (max-width: 560px){
    body{
        font-size: 0.7em;
    }
}

